.hero {
  height: 70vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  text-align: center;
}

.hero h1 {
  margin-top: 3.25rem;
  font-size: 3rem;
  width: 50vw;
}

.hero button {
  font-weight: lighter;
  font-size: 0.95rem;
  background: black;
  color: white;
  border: solid 2px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      120deg,
      rgba(249, 15, 216, 1) 0%,
      rgba(245, 67, 119, 1) 26%,
      rgba(252, 28, 28, 1) 50%,
      rgba(255, 195, 13, 1) 75%,
      rgba(114, 251, 89, 1) 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 100rem;
  box-shadow: 2px 1000px 1px black inset;
  padding: 0.6em 1.5em;
  margin-top: 1.125rem;
  transition: 0.4s;
}

.hero button:hover {
  cursor: pointer;
  background-color: black;
  border: 2px solid black;
  filter: invert(100%);
}
