.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-color);
  z-index: 1000;
  height: 50px;
  gap: 2.25rem;
  backdrop-filter: saturate(180%) blur(20px);
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}

.navbar ul li {
  display: grid;
  align-items: center;
  filter: brightness(75%);
  transition: 0.2s;
}

.navbar ul li:hover {
  filter: brightness(100%);
}

.navbar ul li a {
  font-family: "SF Compact Display";
  font-size: 0.75rem;
}

.search {
  height: 36%;
  transform: translateY(-1px);
}

.navbar img {
  filter: brightness(75%);
  transition: 0.2s;
}

.navbar img:hover {
  cursor: pointer;
  filter: brightness(100%);
}
