.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-color);
  z-index: 1000;
  height: 7vh;
  gap: 2.25rem;
  backdrop-filter: saturate(180%) blur(20px);
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}

.navbar ul li {
  display: grid;
  align-items: center;
  filter: brightness(75%);
  transition: 0.2s;
}

.navbar ul li:hover {
  filter: brightness(100%);
}

.navbar ul li a {
  font-family: var(--navbar-font);
  font-size: 0.65rem;
}

.search {
  height: 35%;
  transform: translateY(-1px);
  filter: invert(75%);
}

.navbar img:hover {
  cursor: pointer;
}
