.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-color);
  z-index: 1000;
  height: 5vh;
  gap: 3rem;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.navbar ul li {
  display: grid;
  align-items: center;
}

.navbar ul li a {
  font-family: var(--navbar-font);
  font-size: 0.65rem;
}

.search {
  height: 60%;
  transform: translateY(-1px);
  filter: invert(75%);
}

.navbar img:hover {
  cursor: pointer;
}
