* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display";
  color: white;
}

li {
  list-style: none;
}

a {
  color: var(--navbar-item-color);
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
}
