@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

@font-face {
  font-family: "SF Pro"; /*Can be any text*/
  src: local("AirbnbCerealLight"), url("./fonts/SF-Pro.ttf") format("truetype");
}

:root {
  --background-color: black;
  --navbar-color: rgba(0, 0, 0, 0.975);
  --navbar-item-color: #c5c5c7;

  --main-font: "SF Pro";
  --navbar-font: "Comfortaa", cursive;
}
