@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

:root {
  --background-color: black;
  --navbar-color: rgba(0, 0, 0, 0.6);
  --navbar-item-color: #c5c5c7;
  --a-color: #2997ff;

  --navbar-font: "Comfortaa", cursive;
}

h2 {
  font-size: 3.15rem;
  font-family: "SF Pro Display";
  font-weight: bolder;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: bolder;
  src: url("./fonts/sf-pro-display_bold.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: normal;
  src: url("./fonts/sf-pro-display_regular.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: bold;
  src: url("./fonts/sf-pro-display_semibold.woff") format("woff2");
}

@font-face {
  font-family: "SF Compact Display";
  font-weight: normal;
  src: url("./fonts/sf-compact-display-medium.otf") format("opentype");
}

@font-face {
  font-family: "SF Compact Display";
  font-weight: lighter;
  src: url("./fonts/sf-compact-display-thin.otf") format("opentype");
}
